*.swp
*.log
*.aux
*.make
*.temp
*.bbl
*.blg
*.d
*.fls
*.vim
*_aux
*.dblite

*.gz

ICASSP/icassp2017.pdf

Journal/fridoa.pdf

planar_case/doa_plane.pdf

*.out

.DS_Store

*.bak

ICASSP_Poster/latex_poster/a0header.ps

*.gz(busy)

ICASSP_Poster/latex_poster/poster_icassp17.pdf

*.snm

*.toc

*.nav

VisualCompSeminar/visual_comp_seminar.pdf

IC_Research_Day/ic_research_day17.pdf

IC_Research_Day/a0header.ps

*.synctex

Journal/frida.pdf

*.fdb_latexmk

*.sav
